[Desktop Entry]
Encoding=UTF-8
Name=flits
Comment=Flits-Core P2P Cryptocurrency
Exec=flits-qt %u
Terminal=false
Type=Application
Icon=flits128
MimeType=x-scheme-handler/flits;
Categories=Office;Finance;
StartupWMClass=flits-qt
Name[en_US]=flitsd-qt.desktop
