
## <summary>policy for fls</summary>


########################################
## <summary>
##	Transition to fls.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`fls_domtrans',`
	gen_require(`
		type fls_t, fls_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, fls_exec_t, fls_t)
')


########################################
## <summary>
##	Execute fls server in the fls domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fls_initrc_domtrans',`
	gen_require(`
		type fls_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, fls_initrc_exec_t)
')


########################################
## <summary>
##	Search fls lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fls_search_lib',`
	gen_require(`
		type fls_var_lib_t;
	')

	allow $1 fls_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read fls lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fls_read_lib_files',`
	gen_require(`
		type fls_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, fls_var_lib_t, fls_var_lib_t)
')

########################################
## <summary>
##	Manage fls lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fls_manage_lib_files',`
	gen_require(`
		type fls_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, fls_var_lib_t, fls_var_lib_t)
')

########################################
## <summary>
##	Manage fls lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fls_manage_lib_dirs',`
	gen_require(`
		type fls_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, fls_var_lib_t, fls_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a fls environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`fls_admin',`
	gen_require(`
		type fls_t;
		type fls_initrc_exec_t;
		type fls_var_lib_t;
	')

	allow $1 fls_t:process { ptrace signal_perms };
	ps_process_pattern($1, fls_t)

	fls_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 fls_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, fls_var_lib_t)

')

